html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

strong {
  font-weight: 800; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: inherit; }

mark {
  background-color: transparent;
  color: black; }

iframe {
  width: 100%;
  min-height: 40vw; }

/* Mixins */
.ui-flex-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: "center";
  -webkit-align-items: "center";
  -ms-flex-align: "center";
  align-items: "center";
  -webkit-box-pack: "center";
  -webkit-justify-content: "center";
  -ms-flex-pack: "center";
  justify-content: "center";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: "column";
  -ms-flex-direction: "column";
  flex-direction: "column"; }

.transition {
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear; }

.menu li {
  display: inline-block; }
  .menu li a {
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear; }

#main-header {
  background-color: #ffb500;
  color: #a1172e; }
  #main-header .menu li a {
    display: inline-block;
    padding: 24px 0; }
  #main-header #site-logo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 220px;
    z-index: 11; }
    #main-header #site-logo .logo {
      width: 100%;
      height: auto; }
  #main-header #social-nav .menu .menu-item {
    margin-right: 10px; }
  #main-header #site-nav {
    height: 100%;
    text-align: right;
    font-family: "Montserrat Light", "Lato", sans-serif;
    font-weight: 100;
    font-weight: 800;
    font-size: 18px; }
    #main-header #site-nav .menu {
      height: 100%; }
      #main-header #site-nav .menu .menu-item {
        height: 100%; }
        #main-header #site-nav .menu .menu-item a {
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center; }
          #main-header #site-nav .menu .menu-item a:hover {
            color: #e49d14; }
        #main-header #site-nav .menu .menu-item:not(:first-child) a {
          margin-left: 20px; }
  #main-header .off-canvas-icon {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

#main-footer {
  font-size: 13px;
  background-color: #a1172e;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
  text-align: center; }
  #main-footer [class*="wk-col-"] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.ui-text-red {
  color: #a1172e; }

.ui-text-gold,
.ui-text-yellow {
  color: #ffb500; }

.ui-text-white {
  color: #fff; }

.ui-text-black,
.ui-text-dark {
  color: #000; }

.ui-text-light,
.ui-text-100 {
  font-weight: 100; }

.ui-text-regular,
.ui-text-400 {
  font-weight: 400; }

.ui-text-bold,
.ui-text-800 {
  font-weight: 400; }

.ui-text-uppercase {
  text-transform: uppercase; }

.ui-align-center {
  display: block;
  margin: auto; }

.ui-bg-white,
.ui-bg-light {
  background-color: #fff; }

.ui-bg-black,
.ui-bg-dark {
  background-color: #000; }

.ui-bg-red {
  background-color: #a1172e;
  color: #fff; }

.ui-bg-gold,
.ui-bg-yellow {
  background-color: #ffb500; }

.ui-bg-blue {
  background-color: blue; }

.ui-bg-gray {
  background-color: gray; }

.ui-btn, .ui-btn-gold,
.ui-btn-yellow,
.ui-button {
  color: #a1172e;
  font-weight: 800;
  font-size: 16px;
  padding: 18px 60px;
  background: #a1172e;
  color: #fff;
  display: inline-block;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear; }
  .ui-btn:hover, .ui-btn-gold:hover,
  .ui-btn-yellow:hover,
  .ui-button:hover {
    background-color: #750215; }
  .ui-btn img, .ui-btn-gold img,
  .ui-btn-yellow img,
  .ui-button img {
    vertical-align: middle;
    margin: 0 20px; }

.ui-btn-gold,
.ui-btn-yellow {
  background-color: #ffb500;
  color: #a1172e; }
  .ui-btn-gold:hover,
  .ui-btn-yellow:hover {
    background-color: #e49d14; }

.ui-icon {
  color: #fff;
  background-color: #a1172e;
  font-size: 24px;
  width: 60px;
  height: 60px;
  text-align: center;
  display: table;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 30px; }
  .ui-icon.ui-icon:before {
    display: table-cell;
    vertical-align: middle; }
  .ui-icon > * {
    font-family: "Times New Roman", serif;
    font-weight: 800;
    font-style: italic; }

[class*="ui-title"] {
  font-family: "Times New Roman", serif;
  font-weight: 800;
  font-style: italic; }

.ui-title-big {
  font-size: 70px; }
  @media (max-width: 770px) {
    .ui-title-big {
      font-size: 36px; } }

.ui-title {
  font-size: 38px; }

.ui-title-small {
  font-size: 24px; }

[class*="ui-subtitle"] {
  font-family: "Montserrat Light", "Lato", sans-serif;
  font-weight: 100; }

.ui-subtitle {
  font-size: 24px; }

.ui-subtitle-small {
  font-size: 18px; }

[class*="ui-title"].ui-title-ornament:after,
[class*="ui-title"].ui-title-ornament:before,
[class*="ui-subtitle"].ui-title-ornament:after,
[class*="ui-subtitle"].ui-title-ornament:before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  @media (max-width: 770px) {
    [class*="ui-title"].ui-title-ornament:after,
    [class*="ui-title"].ui-title-ornament:before,
    [class*="ui-subtitle"].ui-title-ornament:after,
    [class*="ui-subtitle"].ui-title-ornament:before {
      display: block;
      margin: 20px auto; } }

[class*="ui-title"].ui-title-ornament:before {
  background-image: url(../img/text-ornament-red-a.png); }

[class*="ui-title"].ui-title-ornament:after {
  background-image: url(../img/text-ornament-red-b.png); }

[class*="ui-title"].ui-text-red.ui-title-ornament:before {
  background-image: url(../img/text-ornament-red-a.png); }

[class*="ui-title"].ui-text-red.ui-title-ornament:after {
  background-image: url(../img/text-ornament-red-b.png); }

[class*="ui-title"].ui-text-gold.ui-title-ornament:before,
[class*="ui-title"].ui-text-yellow.ui-title-ornament:before {
  background-image: url(../img/text-ornament-gold-a.png); }

[class*="ui-title"].ui-text-gold.ui-title-ornament:after,
[class*="ui-title"].ui-text-yellow.ui-title-ornament:after {
  background-image: url(../img/text-ornament-gold-b.png); }

.ui-title-big.ui-title-ornament:before,
.ui-title-big.ui-title-ornament:after {
  width: 70px;
  height: 30px;
  padding: 0 40px; }

.ui-title.ui-title-ornament:before,
.ui-title.ui-title-ornament:after {
  width: 70px;
  height: 20px;
  padding: 0 10px; }

.ui-title-small.ui-title-ornament:before,
.ui-title-small.ui-title-ornament:after {
  width: 70px;
  height: 10px;
  padding: 0 10px; }

.ui-subtitle.ui-title-ornament:before,
.ui-subtitle.ui-title-ornament:after {
  width: 70px;
  height: 12px;
  padding: 0 10px; }

.ui-subtitle-small.ui-title-ornament:before,
.ui-subtitle-small.ui-title-ornament:after {
  width: 70px;
  height: 8px;
  padding: 0 10px; }

.ui-block-padding {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 20px; }

.ui-row-padding {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 100px 20px; }

.ui-box-model {
  padding-left: 20px;
  padding-right: 20px; }

.fancybox-bg {
  background-color: #ffb500;
  background-image: url(../img/bg-textura.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  opacity: 1 !important; }

.ui-section-header {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 55vh; }
  .ui-section-header .ui-section-content {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.ui-block-texture, .ui-block-texture-cover {
  background-image: url(../img/bg-textura.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left; }

.ui-block-texture-cover {
  background-size: cover; }

.ui-block-texture-invert {
  background-image: url(../img/bg-textura-invert.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top right; }
  @media (max-width: 770px) {
    .ui-block-texture-invert {
      background-size: 100%; } }

.ui-video-container img {
  width: 100%;
  height: auto; }

.ui-post-excerpt {
  display: block;
  position: relative;
  margin: 20px;
  overflow: hidden; }
  .ui-post-excerpt .ui-post-thumb {
    width: 100%;
    height: auto;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear; }
  .ui-post-excerpt:hover .ui-post-thumb {
    -webkit-transform: scale(1.3) rotate(3deg);
    -ms-transform: scale(1.3) rotate(3deg);
    transform: scale(1.3) rotate(3deg); }
  .ui-post-excerpt .ui-post-excerpt-content {
    position: absolute;
    bottom: 0;
    width: 100%; }
    .ui-post-excerpt .ui-post-excerpt-content .ui-post-read-more {
      color: #fff;
      background: #a1172e;
      width: 100%;
      padding: 20px;
      text-align: center;
      font-size: 22px;
      text-transform: uppercase; }
    .ui-post-excerpt .ui-post-excerpt-content .ui-post-title {
      text-align: center;
      color: white;
      padding: 20px 0; }

.slider .slide .slide-img,
.slider-mobile .slide .slide-img {
  width: 100%;
  height: auto; }

.slider .slide .ui-btn, .slider .slide .ui-btn-gold, .slider .slide
.ui-btn-yellow,
.slider-mobile .slide .ui-btn,
.slider-mobile .slide .ui-btn-gold,
.slider-mobile .slide
.ui-btn-yellow {
  position: absolute;
  bottom: 70px;
  left: 16%; }

.slick-active .animate, .slick-active .animate-top, .slick-active .animate-bottom, .slick-active .animate-left, .slick-active .animate-right {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

.animate, .animate-top, .animate-bottom, .animate-left, .animate-right {
  opacity: 0;
  -webkit-transition-delay: .25s;
  -o-transition-delay: .25s;
  transition-delay: .25s; }

.animate-top {
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px); }

.animate-bottom {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px); }

.animate-left {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px); }

.animate-right {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px); }

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  cursor: pointer; }
  .slick-arrow.slick-arrow-left {
    left: 30px; }
  .slick-arrow.slick-arrow-right {
    right: 30px; }

#main-icon-nav {
  margin-bottom: -3px; }
  #main-icon-nav [class*="wk-col"] {
    position: relative; }
  #main-icon-nav .main-icon-nav-wrap {
    overflow: hidden;
    background-color: #000;
    display: inline-block; }
    #main-icon-nav .main-icon-nav-wrap .main-icon-nav-img {
      -webkit-transition: all .25s linear;
      -o-transition: all .25s linear;
      transition: all .25s linear;
      -webkit-transform: scale(1.3) rotate(0deg);
      -ms-transform: scale(1.3) rotate(0deg);
      transform: scale(1.3) rotate(0deg); }
    #main-icon-nav .main-icon-nav-wrap:hover .main-icon-nav-img {
      -webkit-transform: scale(1.1) rotate(3deg);
      -ms-transform: scale(1.1) rotate(3deg);
      transform: scale(1.1) rotate(3deg);
      opacity: .5; }
    #main-icon-nav .main-icon-nav-wrap:hover .container {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3); }
    #main-icon-nav .main-icon-nav-wrap .container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100px;
      height: 100%;
      text-align: center;
      color: #fff;
      -webkit-transition: all .25s linear;
      -o-transition: all .25s linear;
      transition: all .25s linear;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      #main-icon-nav .main-icon-nav-wrap .container * {
        display: block;
        margin: 10px auto; }

#plan-cacao .ui-title {
  min-height: 100px; }

#plan-cacao .ui-icon {
  margin-bottom: 60px; }

#plan-cacao-gallery img {
  width: 100%;
  height: auto; }

#como-preparar .ui-title {
  font-size: 38px;
  min-height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

#como-preparar img {
  width: 100%;
  height: auto; }

#como-preparar .ui-block-padding {
  min-height: 230px; }

#receta-ingredientes .ui-title {
  margin-top: 60px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

#receta-ingredientes [src*="img/icon-"] {
  width: 30px;
  margin-right: 20px; }

#receta-content .wk-cols {
  margin-bottom: calc(20px * 2); }
  @media (min-width: 771px) {
    #receta-content .wk-cols [class*="wk-col-"]:nth-child(even) {
      padding-left: 20px; } }
  @media (max-width: 770px) {
    #receta-content .wk-cols [class*="wk-col-"]:nth-child(odd) {
      padding-bottom: 20px; } }

#nuestros-productos a {
  display: inline-block; }
  #nuestros-productos a:hover .producto {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

#nuestros-productos .producto {
  width: 100%;
  height: auto;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear; }

body {
  font-size: 13px;
  font-family: "Montserrat Light", "Lato", sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 1.25;
  color: #a1172e;
  background-color: #ffb500; }
