html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: inherit; }

/* Mixins */
.ui-flex-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: "center";
  -webkit-align-items: "center";
  -ms-flex-align: "center";
  align-items: "center";
  -webkit-box-pack: "center";
  -webkit-justify-content: "center";
  -ms-flex-pack: "center";
  justify-content: "center";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: "column";
  -ms-flex-direction: "column";
  flex-direction: "column"; }

.transition {
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear; }

.menu li {
  display: inline-block; }
  .menu li a {
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear; }

#main-header {
  background-color: #ffb500;
  color: #a1172e; }
  #main-header .menu li a {
    display: inline-block;
    padding: 24px 0; }
  #main-header #site-logo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 140px;
    z-index: 11; }
    #main-header #site-logo .logo {
      width: 100%;
      height: auto; }
  #main-header #social-nav .menu .menu-item {
    margin-right: 10px; }
  #main-header #site-nav {
    height: 100%;
    text-align: right; }
    #main-header #site-nav .menu {
      height: 100%; }
      #main-header #site-nav .menu .menu-item {
        height: 100%; }
        #main-header #site-nav .menu .menu-item a {
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center; }
          #main-header #site-nav .menu .menu-item a:hover {
            color: #e49d14; }
        #main-header #site-nav .menu .menu-item:not(:first-child) a {
          margin-left: 20px; }
  #main-header .off-canvas-icon {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

#main-footer {
  background-color: #a1172e;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
  text-align: center; }
  #main-footer [class*="wk-col-"] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.ui-text-red {
  color: #a1172e; }

.ui-text-gold,
.ui-text-yellow {
  color: #ffb500; }

.ui-text-white {
  color: #fff; }

.ui-text-black {
  color: #000; }

.ui-text-bold {
  font-weight: 800; }

.ui-text-light {
  font-weight: 100; }

.ui-text-regular {
  font-weight: 400; }

.ui-bg-red {
  background-color: #a1172e; }

.ui-bg-gold,
.ui-bg-yellow {
  background-color: #ffb500; }

.ui-bg-white {
  background-color: #fff; }

.ui-bg-black {
  background-color: #000; }

.ui-btn, .ui-btn-gold,
.ui-btn-yellow,
.ui-button {
  color: #a1172e;
  font-weight: 800;
  font-size: 16px;
  padding: 18px 60px;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
  background: #a1172e;
  color: #fff; }
  .ui-btn:hover, .ui-btn-gold:hover,
  .ui-btn-yellow:hover,
  .ui-button:hover {
    background-color: #750215; }

.ui-btn-gold,
.ui-btn-yellow {
  background-color: #ffb500;
  color: #a1172e; }
  .ui-btn-gold:hover,
  .ui-btn-yellow:hover {
    background-color: #e49d14; }

.ui-icon {
  color: #ffb500;
  background-color: #a1172e;
  font-size: 13px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: table;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 30px; }
  .ui-icon.ui-icon:before {
    display: table-cell;
    vertical-align: middle; }
  .ui-icon > * {
    font-family: "Times New Roman", serif;
    font-weight: 800;
    font-style: italic; }

[class*="ui-title-"] {
  font-family: "Times New Roman", serif;
  font-weight: 800;
  font-style: italic; }

.ui-title-big {
  font-size: 50px; }

.ui-title-mid {
  font-size: 40px; }

.ui-title-small {
  font-size: 30px; }

[class*="ui-subtitle"] {
  font-family: "Montserrat Light", "Lato", sans-serif; }

.ui-subtitle {
  font-size: 30px; }

.ui-subtitle-small {
  font-size: 18px; }

.slider .slide .slide-img,
.slider-mobile .slide .slide-img {
  width: 100%;
  height: auto; }

.slider .slide .ui-btn, .slider .slide .ui-btn-gold, .slider .slide
.ui-btn-yellow,
.slider-mobile .slide .ui-btn,
.slider-mobile .slide .ui-btn-gold,
.slider-mobile .slide
.ui-btn-yellow {
  position: absolute;
  bottom: 70px;
  left: 16%; }

.slick-active .animate, .slick-active .animate-top, .slick-active .animate-bottom, .slick-active .animate-left, .slick-active .animate-right {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

.animate, .animate-top, .animate-bottom, .animate-left, .animate-right {
  opacity: 0;
  -webkit-transition-delay: .25s;
  -o-transition-delay: .25s;
  transition-delay: .25s; }

.animate-top {
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px); }

.animate-bottom {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px); }

.animate-left {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px); }

.animate-right {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px); }

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  cursor: pointer; }
  .slick-arrow.slick-arrow-left {
    left: 30px; }
  .slick-arrow.slick-arrow-right {
    right: 30px; }

#main-icon-nav {
  margin-bottom: -3px; }
  #main-icon-nav [class*="wk-col"] {
    position: relative; }
  #main-icon-nav .main-icon-nav-wrap {
    overflow: hidden;
    background-color: #000;
    display: inline-block; }
    #main-icon-nav .main-icon-nav-wrap .main-icon-nav-img {
      -webkit-transition: all .25s linear;
      -o-transition: all .25s linear;
      transition: all .25s linear;
      -webkit-transform: scale(1.3) rotate(0deg);
      -ms-transform: scale(1.3) rotate(0deg);
      transform: scale(1.3) rotate(0deg); }
    #main-icon-nav .main-icon-nav-wrap:hover .main-icon-nav-img {
      -webkit-transform: scale(1.1) rotate(3deg);
      -ms-transform: scale(1.1) rotate(3deg);
      transform: scale(1.1) rotate(3deg);
      opacity: .5; }
    #main-icon-nav .main-icon-nav-wrap:hover .container {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3); }
    #main-icon-nav .main-icon-nav-wrap .container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100px;
      height: 100%;
      text-align: center;
      color: #fff;
      -webkit-transition: all .25s linear;
      -o-transition: all .25s linear;
      transition: all .25s linear;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      #main-icon-nav .main-icon-nav-wrap .container * {
        display: block;
        margin: 10px auto; }

#plan-cacao-gallery img {
  width: 100%;
  height: auto; }

body {
  font-family: "Open sans", "Lato", sans-serif;
  font-size: 13px;
  background-color: #ffb500; }
