
.is-scrolled #main-header {
	box-shadow: 0px 6px 23px -7px rgba(0,0,0,0.37);
	.menu li a {
		padding: 10px 0;
	}
	#site-logo {
		//transform: scale(.7);
		transition: all .5s linear;
		width: 160px;
	}
}

#main-header {
	background-color: $mainColor;
      color: $secondaryColor;
	top: 0;
	left: 0;
	z-index: 10;
	position: fixed;
	@include transitionMenu;

	.menu li a {
		display: inline-block;
		padding: 24px 0;
		@media #{$onlyMobile} {
			padding: 24px 4px 70px;
		}
	}

	#site-logo {
		box-sizing: border-box;
		padding: 10px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 220px;
		z-index: 11;
		transition: all .25s linear;
		transform-origin: top;
		.logo {
			width: 100%;
			height: auto;
		}
		@media #{$onlyMobile} {
			width: 120px;
			top: 70px;
		}
	}

	#mobile-logo {
		display: inline-block;
		padding: 10px;
	}


	#site-nav {
		height: 100%;
		text-align: right;
		@include ui-font-model-montserrat;
		font-weight: 700;
		font-size: 22px;
		@media ( max-width: 1660px ) and ( min-width: 1180px ) {
			font-size: 16px;
		}

		@media ( max-width: 1179px ) and ( min-width: 770px ) {
			font-size: 13px;
		}
		.menu {
			height: 100%;
			.menu-item {
				height: 100%;
				a {
					height: 100%;
					display: flex;
					align-items: center;
					&:hover {
						color: $mainColorHover;
					}
				}
				&:not(:first-child) a {
					margin-left: 14px;
				}

			}
		}
	}

}

#social-nav {
	.menu {
		@media #{$onlyDesktop} {
			.menu-item {
				margin-right: 10px;
			}
		}
		@media #{$onlyMobile} {
			.menu-item {
				a {
					padding: {
						left: 3px !important;
						right: 3px !important;
					}
				}
			}
		}
	}
	.ui-icon {
		width: 34px;
		height: 34px;
		color: $mainColor;
		font-size: 12px;
		@include transition;
		&:hover {
			color: $white;
		}
	}
}

.menu-item {
	.icon {
		margin-right: 6px;;
	}
}

// Icon off canvas

.off-canvas-icon {
	padding: 0 12px;
	font-size: 18px;
	padding: 10px 20px;
	display: block;
	width: 60px;
	cursor: pointer;
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}

.off-canvas-icon .wk-icon {
	position: absolute;
}

.off-canvas-icon .wk-icon,
.off-canvas-icon .wk-icon:before,
.off-canvas-icon .wk-icon:after {
	width: 30px;
	height: 3px;
	border-radius: 10px;
	background-color: $secondaryColor;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	transition: all .25s linear .5s;
}

.off-canvas-icon .wk-icon:before,
.off-canvas-icon .wk-icon:after {
	content: "";
}

.off-canvas-icon .wk-icon:before {
	top: 16px;
}

.off-canvas-icon .wk-icon:after {
	top: -16px;
}

.off-canvas-is-active .off-canvas-icon .wk-icon {
	background-color: transparent;
}

.off-canvas-is-active .off-canvas-icon .wk-icon:before {
	transform: rotate(45deg);
	/* transform-origin: left; */
}

.off-canvas-is-active .off-canvas-icon .wk-icon:after {
	transform: rotate(-45deg);
}

.off-canvas-is-active .off-canvas-icon .wk-icon:before,
.off-canvas-is-active .off-canvas-icon .wk-icon:after {
	transform-origin: center;
	top: 0;
}
