

#main-header {
	background-color: $mainColor;
      color: $secondaryColor;
	.menu li a {
		display: inline-block;
		padding: 24px 0;
		@media #{$onlyMobile} {
			padding: 24px 0px 70px;
		}
	}

	#site-logo {
		box-sizing: border-box;
		padding: 10px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 220px;
		z-index: 11;
		.logo {
			width: 100%;
			height: auto;
		}
		@media #{$onlyMobile} {
			width: 120px;
			top: 70px;
		}
	}

	#social-nav {
		.menu {
			@media #{$onlyDesktop} {
				.menu-item {
					margin-right: 10px;
				}
			}
		}
		.ui-icon {
			width: 34px;
			height: 34px;
			color: gold;
			font-size: 12px;
		}
	}


	#site-nav {
		height: 100%;
		text-align: right;
		@include ui-font-model-montserrat;
		font-weight: 800;
		font-size: 22px;
		@media ( max-width: 1420px ) and ( min-width: 1080px ) {
			font-size: 16px;
		}

		@media ( max-width: 1079px ) and ( min-width: 770px ) {
			font-size: 14px;
		}
		.menu {
			height: 100%;
			.menu-item {
				height: 100%;
				a {
					height: 100%;
					display: flex;
					align-items: center;
					&:hover {
						color: $mainColorHover;
					}
				}
				&:not(:first-child) a {
					margin-left: 20px;
				}
			}
		}
	}

	.off-canvas-icon {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		cursor: pointer;
		@media #{$onlyMobile} {
			padding: 24px 0px 70px;
		}
	}

}
