.off-canvas-menu {
	position: fixed;
	z-index: 11;
	top: 0;
	left: 100%;
	width: calc(100% - 60px);
	height: 100%;
	background-color: $secondaryColor;
	color: $white;
	@include transition;
	.ui-menu {
		li {
			font-style: normal;
			display: flex;
			align-items: center;
			opacity: 0;
			transform: translateX(40px);
			transition-delay: 0s;
			@include transition;
			&:nth-child(odd) {
				background-color: rgba(0, 0, 0, 0.08);
			}
		}
	}
}

body.off-canvas-is-active {
	transform: translateX(calc(-100% + 60px));
	overflow: hidden;
	.off-canvas-menu {
		.ui-menu {
			li {
				opacity: 1;
				transform: translate(0);
			}
			@for $i from 1 through 50 {
				li:nth-child(#{$i}) {
					transition-delay: #{($i + 4) / 10}s;
				}
			}

		}
	}
}

@media #{$onlyMobile} {
	body {
		transition: all .5s cubic-bezier(0.74, 0.02, 0.58, 1);
	}
}
