.ui-text-red {
	color: $secondaryColor;
}

.ui-text-gold,
.ui-text-yellow {
	color: $mainColor
}

.ui-text-white {
	color: $white;
}

.ui-text-black,
.ui-text-dark {
	color: $black;
}

// Text style

.ui-text-light,
.ui-text-100 {
	font-weight: 100;
}

.ui-text-regular,
.ui-text-400 {
	font-weight: 400;
}

.ui-text-bold,
.ui-text-800 {
	font-weight: 400;
}

.ui-text-uppercase {
	text-transform: uppercase;
}

// BLoques
.ui-align-center {
	display: block;
	margin: auto;
}

//background colors {
.ui-bg-white,
.ui-bg-light {
	background-color: $white;
}

.ui-bg-black,
.ui-bg-dark {
	background-color: $black;
}

.ui-bg-red {
	background-color: $secondaryColor;
	color: $white;
}

.ui-bg-gold,
.ui-bg-yellow {
	background-color: $mainColor;
}

.ui-bg-blue {
	background-color: $blue;
}

.ui-bg-gray {
	background-color: $gray;
}



// Botónes (default es rojo)

.ui-btn,
.ui-button {
	color: $secondaryColor;
	font-weight: 800;
	font-size: 16px;
	padding: 18px 60px;
	@include transition;
	background: $secondaryColor;
	color: $white;
	&:hover {
	    background-color: $secondaryColorHover;
	}
}

.ui-btn-gold,
.ui-btn-yellow {
	@extend .ui-btn;
	background-color: $mainColor;
	color: $secondaryColor;
	&:hover {
		background-color: $mainColorHover;
	}
}

// Icons

.ui-icon {
	color: $mainColor;
	background-color: $secondaryColor;
	font-size: 13px;
	width: 30px;
	height: 30px;
	text-align: center;
	display: table;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	&.ui-icon:before {
		display: table-cell;
		vertical-align: middle;
	}
	> * {
		@include ui-font-model-times-new-roman;
	}
}


// Títulos
[class*="ui-title"] {
	@include ui-font-model-times-new-roman;
}

.ui-title-big {
	font-size: 70px
}

.ui-title {
	font-size: 38px;
}

.ui-title-small {
	font-size:24px;
}

[class*="ui-subtitle"] {
	@include ui-font-model-montserrat;

}

.ui-subtitle {
	font-size: 24px;
}

.ui-subtitle-small {
	font-size: 18px;
}

[class*="ui-title"].ui-title-ornament:after,
[class*="ui-title"].ui-title-ornament:before,
[class*="ui-subtitle"].ui-title-ornament:after,
[class*="ui-subtitle"].ui-title-ornament:before {
	content: "";
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

[class*="ui-title"].ui-title-ornament:before {
	background-image: url(../img/text-ornament-red-a.png);
}

[class*="ui-title"].ui-title-ornament:after {
	background-image: url(../img/text-ornament-red-b.png);
}

[class*="ui-title"].ui-text-red.ui-title-ornament:before {
	background-image: url(../img/text-ornament-red-a.png);
}

[class*="ui-title"].ui-text-red.ui-title-ornament:after {
	background-image: url(../img/text-ornament-red-b.png);
}

[class*="ui-title"].ui-text-gold.ui-title-ornament:before,
[class*="ui-title"].ui-text-yellow.ui-title-ornament:before {
	background-image: url(../img/text-ornament-gold-a.png);
}

[class*="ui-title"].ui-text-gold.ui-title-ornament:after,
[class*="ui-title"].ui-text-yellow.ui-title-ornament:after {
	background-image: url(../img/text-ornament-gold-b.png);
}

.ui-title-big.ui-title-ornament:before,
.ui-title-big.ui-title-ornament:after {
	width: 70px;
	height: 30px;
	padding: 0 10px;
}

.ui-title.ui-title-ornament:before,
.ui-title.ui-title-ornament:after {
	width: 70px;
	height: 20px;
	padding: 0 10px;
}

.ui-title-small.ui-title-ornament:before,
.ui-title-small.ui-title-ornament:after {
	width: 70px;
	height: 10px;
	padding: 0 10px;
}

.ui-subtitle.ui-title-ornament:before,
.ui-subtitle.ui-title-ornament:after {
	width: 70px;
	height: 12px;
	padding: 0 10px;
}

.ui-subtitle-small.ui-title-ornament:before,
.ui-subtitle-small.ui-title-ornament:after {
	width: 70px;
	height: 8px;
	padding: 0 10px;
}
