$mainColor: #ffb500;
$secondaryColor: #a1172e;

$mainColorHover: #e49d14;
$secondaryColorHover: #750215;

$white: #fff;
$black: #000;

$mainFont: 'Times New Roman', serif;
$secondaryfont: 'Montserrat Light', 'Lato', sans-serif;
$textFont: 'Open sans', 'Lato', sans-serif;


$onlyMobile: ( max-width: 770px );
$onlyDesktop: ( max-width: 771px );
$onlyTablet: ( min-width: 415px ) and ( max-width: 770px );
$onlyfromTablet: ( min-width: 415px );
$onlyPhone: ( max-width: 414px );
$onlyiPhone5: ( max-width: 320px );
