@import '_vars';
@import '_reset';
@import '_mobile';
@import '_mixins';
@import '_defaults';
@import '_header';
@import '_footer';
@import '_ui';
@import 'elements/_sliderTheme';
@import 'sections/_home';
@import 'sections/_plan-cacao';

body {
	font: {
		family: $textFont;
		size: 13px;
	}
	background-color: $mainColor;
}
