#como-preparar {
	.ui-title {
	    font-size: 38px;
	    min-height: 100px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	img {
		width: 100%;
		height: auto;
	}
	.ui-block-padding {
		min-height: 270px;
	}
}
