#como-preparar {
	.ui-title {
	    font-size: 38px;
	    min-height: 80px;
	    @media #{$onlyDesktop} {
		    display: flex;
		    align-items: center;
		    justify-content: center;

	    }
	}
	p {
		margin-top: 0;
	}
	img {
		width: 100%;
		height: auto;
	}
	.ui-block-padding {
		min-height: 270px;
	}
	[class*="wk-col-"] {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.como-preparar-thumb {
		display: inline-block;
		width: 100%;
		@media #{$onlyDesktop} {
			height: calc(100vw / 4 - 4px);
		}
	}
}
