#nuestros-productos-banner {
	[class*="ui-btn"] {
		@media #{$onlyDesktop} {
			transform: scale(1.35);
			transform-origin: top;
		}
	}
}
#productos-leyend {

}

#nuestros-productos {
	a {
		&:hover {
			.producto {
				transform: scale(1.1);
			}
		}
	}
	.producto {
		width: 100%;
		max-width: 320px;
		height: auto;
		transition: all .25s linear;
	}
}

#promociones-modal {
	background-image: initial !important;
	.ui-modal-content {
		background-color: transparent;
	}
}
