#receta-ingredientes {
	.ui-title {
		margin-top: 60px;
		margin-bottom: 40px;
		display: flex;
		align-items: flex-start;
	}
	[src*="img/icon-"] {
		width: 30px;
		margin-right: 20px;
	}
}

#receta-content {
	.wk-cols {
		margin-bottom: calc(#{$boxModel} * 2);
		@media #{$onlyDesktop} {
			[class*="wk-col-"]:nth-child(even) {
				padding-left: $boxModel;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
			}
		}
		@media #{$onlyMobile} {
			[class*="wk-col-"]:nth-child(odd) {
				padding-bottom: $boxModel;
			}
		}
	}
}

#receta-buttons {
	.wk-cols {
		margin: 20px 0;
	}
	.ui-btn {
		padding: 18px 20px;
		height: 68px;
		width: 100%;
		@media #{$onlyMobile} {
			margin: 20px 0;
		}
	}
}


.gecko.win.no-supports #receta-buttons [class*="ui-btn"] {
	padding-top: 18px;
}
