-var url = "http://abuelita.agenciamarte.com.mx/"
//-
	-var url = "http://localhost:7892/"
	
//- https://findmyfbid.com/	
-var facebookID = '525841987464010'	
-var twitterUser = 'abuelitamx'

-var facebookURL = 'https://www.fb.me/ChocolateAbuelita'
-var instagramURL = 'https://www.instagram.com/abuelitamx'
-var twitterURL = 'https://twitter.com/abuelitamx'
-var youtubeURL = 'https://www.youtube.com/user/chocolateabuelitamx'
