-var url = "http://codecase.xyz/marte/nestle/chocolate-abuelita/"
//-
	-var url = "http://localhost:7892/" 
	-var url = "https://stag.abuelita.com.mx/"

//-  
	Find facebook ID https://findmyfbid.com/

	Facebook debug tool:
	https://developers.facebook.com/tools/debug/

-var facebookID = '525841987464010'	
-var twitterUser = 'abuelitamx'

-var facebookURL = 'https://www.fb.me/ChocolateAbuelita'
-var instagramURL = 'https://www.instagram.com/abuelitamx'
-var twitterURL = 'https://twitter.com/abuelitamx'
-var youtubeURL = 'https://www.youtube.com/user/chocolateabuelitamx'
