//- productos.jade
extends header.jade

block title
	title El ritual Abuelita - Nestlé

block description
	meta(name="description" content="El Ritual de Chocolate Abuelita")
	
block content

	main(role="main")
		+sectionHeader(
				'ritual-abuelita-banner', 
				'ui-bg-red', 
				'El ritual Abuelita', 
				'', 
				'img/banner-ritual-abuelita.jpg', 
				'img/icon-ritual-abuelita.png'
			)
						
					
		+sectionLeyend( 'ritual-abuelita-leyend', '') <strong>La <span class="ui-title-xx-larger ui-text-gold">dulce tradición</span> de mantener<br class="wk-d"> unidas a las familias mexicanas.</strong>
		
		section#como-preparar.wk-children-text-center.ui-block-texture-cover
			.wk-section-wrap.wk-padding-top-40
				h1.ui-title Cómo preparar chocolate Abuelita&reg;
				.wk-cols
					.wk-col-3
						.ui-block-padding
							h3.ui-title Parte
							p.ui-subtitle La tablilla y viértela <br> en leche caliente.
						span.como-preparar-thumb: img(src="img/ritual-abuelita-parte-nestle.jpg" alt="Parte - El ritual Chocolate Abuelita - Nestlé")
					
					.wk-col-3
						.ui-block-padding
							h3.ui-title Revuelve
							p.ui-subtitle Con molinillo para crear <br> una rica espuma.
						span.como-preparar-thumb: img(src="img/ritual-abuelita-revuelve-nestle.jpg" alt="Revuelve - El ritual Chocolate Abuelita - Nestlé")
						
					.wk-col-3
						.ui-block-padding
							h3.ui-title Sírvelo
							p.ui-subtitle Bien <br> calientito.
						span.como-preparar-thumb: img(src="img/ritual-abuelita-sirve-nestle.jpg" alt="Sirve - El ritual Chocolate Abuelita - Nestlé")
						
					.wk-col-3
						.ui-block-padding
							h3.ui-title Disfruta
							p.ui-subtitle El auténtico sabor <br> con tu familia y seres queridos.
						span.como-preparar-thumb: img(src="img/ritual-abuelita-disfruta-nestle.jpg" alt="Disfruta - El ritual Chocolate Abuelita - Nestlé")
							
		section#ritual-videos.wk-section.ui-block-texture-cover
			.wk-section-wrap
				.h4.ui-title-small.wk-text-center.wk-m.ui-block-padding El ritual
				.ui-video-container
					a(href="https://www.youtube.com/watch?v=92yYF9o6Jng" data-fancybox): img(src="img/video-poster-1.jpg")
				.ui-video-container
					a(href="https://www.youtube.com/watch?v=92yYF9o6Jng" data-fancybox): img(src="img/video-poster-2.jpg")
					

	include footer.jade
