include header.jade

main(role="main")
	section#ritual-abuelita-banner.wk-section.ui-bg-red
		.wk-section-wrap
			.ui-section-header(style="background-image: url(img/banner-ritual-abuelita.jpg);")
				.ui-section-content
					span
						img.ui-section-icon.ui-align-center(src="img/icon-ritual-abuelita.png")
					h1.ui-title-big.ui-title-ornament.ui-text-gold El ritual Abuelita
					
				
	section#ritual-abuelita-leyend.wk-section.wk-wrap-1100.ui-bg-red.wk-text-center.ui-block-texture-invert
		.wk-section-wrap
			.ui-row-padding 
				h2.ui-subtitle 
					p Los mejores momentos se viven con la familia, por eso Chocolate Abuelita&reg; hace más ricos los instantes que pasamos con nuestros seres queridos. 
						strong.ui-text-gold Hacer chocolate caliente es una tradición que las familias mexicanas han compartido por generaciones.
				
	section#como-preparar.wk-children-text-center.ui-block-texture-cover
		.wk-section-wrap.wk-padding-top-40
			h1.ui-title Cómo preparar chocolate Abuelita&reg;
			.wk-cols
				.wk-col-3
					.ui-block-padding
						h3.ui-title Parte
						p.ui-subtitle-small y tira la tablilla a la leche caliente.
					img(src="img/ritual-abuelita-parte-nestle.jpg" alt="Plan Cacao Nestle")
				
				.wk-col-3
					.ui-block-padding
						h3.ui-title Revuelve
						p.ui-subtitle-small con molinillo para crear rica espuma.
					img(src="img/ritual-abuelita-revuelve-nestle.jpg" alt="Plan Cacao Nestle")
					
				.wk-col-3
					.ui-block-padding
						h3.ui-title Sírvelo
						p.ui-subtitle-small bien calientito.
					img(src="img/ritual-abuelita-sirve-nestle.jpg" alt="Plan Cacao Nestle")
					
				.wk-col-3
					.ui-block-padding
						h3.ui-title Disfruta y chopea
						p.ui-subtitle-small con tu familia y seres queridos.
					img(src="img/ritual-abuelita-disfruta-nestle.jpg" alt="Plan Cacao Nestle")
						
	section#ritual-videos.wk-section
		.wk-section-wrap
			.ui-video-container
				a(href="#"): img(src="img/video-poster-1.jpg")
			.ui-video-container
				a(href="#"): img(src="img/video-poster-2.jpg")
				

include footer.jade
