//- index.jade
extends header.jade

block title
  title Chocolate Abuelita - Nestlé

block description
  meta(name="description" content="Chocolate Abuelita")

block content

  main(role="main").wk-children-text-center
      div.error-image
  include footer.jade
