footer#main-footer
	section.wk-section.wk-wrap-1100
		.wk-section-wrap.ui-box-model
			.wk-cols
				.wk-col-1(data-layout-mobile="padding-y(40px)" data-layout-desktop="margin-x(20px)")
					img(src="img/logo-abuelita-footer-nestle.png" alt="Logo Chocolate Abuelita")
				.wk-col-11
					.container
						span &copy; NESTLÉ 
						strong
							a.ui-text-gold.ui-text-underline(href="https://www.nestle.com.mx/info/copyright" target="_black") TÉRMINOS Y CONDICIONES
						span  / 
						strong
							a.ui-text-gold.ui-text-underline(href="https://www.nestle.com.mx/info/tc" target="_black") POLÍTICA DE PRIVACIDAD 
						span Marcas Registradas usadas bajo licencia de su titular Société des Produits Nestlé S.A., Case Postale 353, 1800 Vevey, Suiza
						br
						span.ui-text-gold.ui-text-bold CONTACTO NESTLÉ &copy; | CALL CENTER: 
							a(href="tel:5267 3303") 5267 3303 
							| ó 
							a(href="tel:01800 363 7853") 01800 363 7853
							

		


			
