footer#main-footer
	section.wk-section.wk-wrap-1100
		.wk-section-wrap
			.wk-cols
				.wk-col-1
					img(src="img/logo-abuelita-footer-nestle.png" alt="Logo Chocolate Abuelita")
				.wk-col-11
					.container
						span &copy; NESTLÉ 
						a(href="#") TÉRMINOS Y CONDICIONES / 
						a(href="#") POLÍTICA DE PRIVACIDAD 
						span MARCAS REGISTRADAS PROPIEDAD DE SOCIETÉ DE PRODUITS NESTLÉ S.A. 1800 VEVEY, SUIZA
						br
						span.ui-text-gold.ui-text-bold CONTACTO NESTLÉ &copy; | CALL CENTER: 
							a(href="tel:5267 3303") 5267 3303 
							| ó 
							a(href="tel:01800 363 7853") 01800 363 7853
			
