mixin menuItem( title, link )
	li.ui-subtitle-small.ui-title-ornament.ui-text-white.ui-box-model: a(href='' + link + '')= title

.off-canvas-menu.wk-m
	ul.ui-menu 
		+menuItem( 'Historia', url + 'historia.html' )
		+menuItem( 'Productos', url + 'productos.html' )
		+menuItem( 'Ritual', url + 'el-ritual-abuelita.html' )
		+menuItem( 'Recetas', url + 'recetas.html' )
		+menuItem( 'Plan Cacao', url + 'plan-cacao.html' )
