mixin menuItem( title, link )
	li.ui-subtitle-small.ui-title-ornament.ui-text-white.ui-box-model: a(href='' + link + '')= title

.off-canvas-menu.wk-m
	ul.ui-menu 
		+menuItem( 'Inicio', '#' )
		+menuItem( 'Historia', '#historia' )
		+menuItem( 'Productos','#productos' )
		+menuItem( 'Ritual', '#ritual-abuelita' )
		+menuItem( 'Recetas', '#recetas' )
		+menuItem( 'Plan Cacao', '#plan-cacao' )
