mixin menuItem( title, link )
	li.menu-item.ui-subtitle-small.ui-title-ornament.ui-text-white.ui-box-model: a(href='' + link + '')!= title

.off-canvas-menu.wk-m
	ul.ui-menu
		+menuItem( 'Inicio', url + 'index.html' )
		+menuItem( 'Historia', url + 'historia.html' )
		+menuItem( 'Productos', url + 'productos.html' )
		+menuItem( 'Ritual', url + 'el-ritual-abuelita.html' )
		+menuItem( 'Recetas', url + 'recetas.html' )
		+menuItem( 'Cocoa Plan<sup>®</sup>', url + 'cocoa-plan.html' )
		li.menu-item.ui-subtitle-small.ui-title-ornament.ui-text-white.ui-box-model: a(href='#')
			span.icon.fa.fa-shopping-cart
			| Comprar
		li#social-nav.menu-item
			//-
				Las variables con urls de redes sociales
				se encuentran en jade/_vars.jade
			span.menu-item: a(href=facebookURL target="_blank"): i.ui-icon.fa.fa-facebook
			span.menu-item: a(href=instagramURL target="_blank"): i.ui-icon.fa.fa-instagram
			span.menu-item: a(href=twitterURL target="_blank"): i.ui-icon.fa.fa-twitter
			span.menu-item: a(href=youtubeURL target="_blank"): i.ui-icon.fa.fa-youtube

	//-
		Menú angular

		+menuItem( 'Inicio', '#' )
		+menuItem( 'Historia', '#historia' )
		+menuItem( 'Productos','#productos' )
		+menuItem( 'Ritual', '#ritual-abuelita' )
		+menuItem( 'Recetas', '#recetas' )
		+menuItem( 'Cocoa Plan<sup>®</sup>', '#plan-cacao' )
