mixin menuItem( title, link )
	li.menu-item.ui-subtitle-small.ui-title-ornament.ui-text-white.ui-box-model: a(href='' + link + '')!= title

.off-canvas-menu.wk-m
	ul.ui-menu
		+menuItem( 'Inicio', url + 'index.html' )
		+menuItem( 'Historia', url + 'historia.html' )
		+menuItem( 'Productos', url + 'productos.html' )
		+menuItem( 'Ritual', url + 'el-ritual-abuelita.html' )
		+menuItem( 'Recetas', url + 'recetas.html' )
		+menuItem( 'Cocoa Plan<sup>®</sup>', url + 'cocoa-plan.html' )
		li.menu-item.ui-subtitle-small.ui-title-ornament.ui-text-white.ui-box-model: a(href='#')
			span.icon.fa.fa-shopping-cart
			| Comprar

	//-
		Menú angular

		+menuItem( 'Inicio', '#' )
		+menuItem( 'Historia', '#historia' )
		+menuItem( 'Productos','#productos' )
		+menuItem( 'Ritual', '#ritual-abuelita' )
		+menuItem( 'Recetas', '#recetas' )
		+menuItem( 'Cocoa Plan<sup>®</sup>', '#plan-cacao' )
