//- productos.jade
extends header.jade

block title
	title Cocoa Plan - Nestlé

block description
	meta(name="description" content="Cocoa Plan Nestlé")
	
block content

	main(role="main")
		+sectionHeader(
				'plan-cacao-banner', 
				'ui-bg-gold', 
				'', 
				'', 
				url + 'img/plan-cacao-video-poster-nestle.png',
				''
			)
			a.ui-section-header-modal(href="https://www.youtube.com/watch?v=V8UPG6ef5no" data-fancybox)
			.container.ui-box-model
				a.ui-btn(href="javascript:;" data-fancybox data-src="#plan-cacao-mas-informacion") Más información
				+modal( 
					'<img class="wk-block wk-margin-auto" src="/img/icon-cocoa-plan.png">',
					'plan-cacao-mas-informacion', 
					'Cocoa Plan®', 
					'' 
					)
					.wk-text-center
						
						p.ui-title-small En 2013 Neslté® lanza "Cocoa Plan®" en México reforzando el compromiso de la compañia con la recuperación del caco originario de México mediante la inversión de más de 100 millones de pesos.
						p Cocoa Plan® es una iniciativa mundial de Neslté® que busca apoyar a los agricultores para asegurar una producción de cacao sustentable, conservar el medio ambiente y contribuir a una buena calidad de vida para los productores como parte de su filosofía de Creación de Valor Compartido.
						p Esta iniciativa apoya el aumento de la producción del campo cacotero para triplicar su capacidad incrememntando a más de 5 000 el número de familias beneficiadas.
		
		section#plan-cacao.wk-wrap-1100.wk-children-text-center.ui-m-block-texture-cover.ui-d-block-texture
			.wk-section-wrap
				.ui-block-padding
					img.ui-section-icon.ui-align-center.wk-padding-y-40(width="100" src="/img/icon-cocoa-plan.png")
					h1.ui-title-big.ui-title-ornament Cocoa Plan®
				.wk-cols
					.wk-col-4.ui-block-padding
						span.ui-icon
							i 1
						h3.ui-title CADENA DE ABASTECIMIENTO
						p.ui-subtitle-small A través del desarrollo empresarial y la compra directa a grupos de productores, serán ellos mismos quines acopien, fermenten y comercialicen el cacao con la implementación de las mejores prácticas de cosecha y con una visión empresarial responsable.
					.wk-col-4.ui-block-padding
						span.ui-icon 
							i 2
						h3.ui-title RENTABILIDAD
						p.ui-subtitle-small Mediante el apoyo a la investigación y la transferencia de tecnología a productores, se implementarán sistemas de manejo agronómico tecnificado con el potencial de triplicar la productividad por hectárea, reducir el impacto ambiental y la mejora de los ingresos directos.
					.wk-col-4.ui-block-padding 
						span.ui-icon 
							i 3
						h3.ui-title DESARROLLO SOCIAL
						p.ui-subtitle-small Escuelas de campo para capacitar en técnica de produccións sostenibles, brindando la asesoría a los productores directamente en las parcelas y mediante la implementación de sustentabilidad. Al habilitar a los productores para producir más y mejor, estamos influyendo en la mejora de sus condiciones de vida y la economía familiar.
					
		section#plan-cacao-gallery.wk-section
			.wk-section-wrap
				.wk-cols
					.wk-col 
						.wk-cols-m
							.wk-col
								img(src= url + "img/plan-cacao-1-nestle.jpg" alt="Cocoa Plan Nestle")
							.wk-col
								img(src= url + "img/plan-cacao-2-nestle.jpg" alt="Cocoa Plan Nestle")
					.wk-col 
						.wk-cols-m
							.wk-col
								img(src= url + "img/plan-cacao-3-nestle.jpg" alt="Cocoa Plan Nestle")
							.wk-col
								img(src= url + "img/plan-cacao-4-nestle.jpg" alt="Cocoa Plan Nestle")

		+sectionLeyend('plan-cacao-leyend', '') 
			strong Con estas acciones <span class="ui-title-xx-larger ui-text-gold"> Nestlé® apoya el esfuerzo por incrementar la productividad del campo cacaotero con el potencial de triplicar su capacidad </span> y que vuelva a producir más de 30 000 toneladas anuales, pasando de una producción de 250 Kg a 750 Kg por hectárea.
			
		section#plan-cacao-logo.wk-section.wk-wrap-1100.wk-text-center
			.wk-section-wrap
				.ui-block-padding 
					h6.ui-title.wk-m Logros
					img.wk-img-responsive.wk-padding-y-40(src= url + "img/logo-cocoa-plan.png" alt="Cocoa Plan Nestle Logo")
					
					h2.ui-subtitle 70% mayor productividad en las parcelas y las cooperativas generaron una derrama económica superior a los 12 millones por el valor agregado a su producto.					
		
	include footer.jade
