include header.jade

main(role="main")
	section#plan-cacao-banner.wk-section 
		.wk-section-wrap
			a(href="#"): img.wk-img-responsive(src="img/plan-cacao-video-poster-nestle.png" alt="Poster Plan Cacao Nesltle")
	
	section#plan-cacao.wk-wrap-1100.wk-children-text-center.ui-block-texture
		.wk-section-wrap
			.ui-block-padding
				img.ui-section-icon.ui-align-center.wk-padding-y-40(width="100" src="img/icon-cocoa-plan.png")
				h1.ui-title-big.ui-title-ornament Plan Cacao
			.wk-cols
				.wk-col-4.ui-block-padding
					span.ui-icon
						i 1
					h3.ui-title CADENA DE ABASTECIMIENTO
					p.ui-subtitle-small A través del desarrollo empresarial y la compra directa a grupos de productores, serán ellos mismos quines acopien, fermenten y comercialicen el cacao con la implementación de las mejores prácticas de cosecha y con una visión empresarial responsable.
				.wk-col-4.ui-block-padding
					span.ui-icon 
						i 2
					h3.ui-title RENTABILIDAD
					p.ui-subtitle-small Mediante el apoyo a la investigación y la transferencia de tecnología a productores, se implementarán sistemas de manejo agronómico tecnificado con el potencial de triplicar la productividad por hectárea, reducir el impacto ambiental y la mejora de los ingresos directos.
				.wk-col-4.ui-block-padding 
					span.ui-icon 
						i 3
					h3.ui-title DESARROLLO SOCIAL
					p.ui-subtitle-small Escuelas de campo para capacitar en técnica de produccións sostenibles, brindando la asesoría a los productores directamente en las parcelas y mediante la implementación de sustentabilidad. Al habilitar a los productores para producir más y mejor, estamos influyendo en la mejora de sus condiciones de vida y la economía familiar.
				
	section#plan-cacao-gallery.wk-section
		.wk-section-wrap
			.wk-cols
				.wk-col 
					.wk-cols-m
						.wk-col
							img(src="img/plan-cacao-3-nestle.jpg" alt="Plan Cacao Nestle")
						.wk-col
							img(src="img/plan-cacao-1-nestle.jpg" alt="Plan Cacao Nestle")
				.wk-col 
					.wk-cols-m
						.wk-col
							img(src="img/plan-cacao-2-nestle.jpg" alt="Plan Cacao Nestle")
						.wk-col
							img(src="img/plan-cacao-4-nestle.jpg" alt="Plan Cacao Nestle")

	section#plan-cacao-leyend.wk-section.wk-wrap-1100.ui-block-texture-invert.ui-bg-red.wk-text-center
		.wk-section-wrap
			.ui-row-padding 
				h2.ui-subtitle 
					p Con estas acciones 
						strong.ui-text-gold Nestlé apoya el esfuerzo por incrementar la productividad del campo cacaotero 
						| con el potencial de triplicar su capacidad 
						span y que vuelva a producir más de 30,000 toneladas anueales, pasando de una producción de 250Kg a 750Kg por hectárea.
		
	section#plan-cacao-logo.wk-section.wk-wrap-1100.wk-text-center
		.wk-section-wrap
			.ui-row-padding 				
				img.wk-padding-y-40(src="img/logo-cocoa-plan.png" alt="Plan Cacao Nestle Logo")
				
				h2.ui-subtitle 70% mayor productividad en las parcelas y las cooperativas generaron una derrama económica superior a los 12 millones por el valor agregado a su producto.
									
	

include footer.jade
