include header.jade

main(role="main")
	section#main-slider.wk-section 
		.wk-section-wrap
			a(href="#"): img(src="img/plan-cacao-video-poster-nestle.png" alt="Poster Plan Cacao Nesltle")
			

include footer.jade
