include header.jade

main(role="main")
	section#recetas-banner.wk-section.ui-bg-red
		.wk-section-wrap
			.ui-section-header
				img.wk-img-responsive(src="img/banner-recetas.jpg" alt="Recetas Chocolate Abuelita Nesltle")
				.ui-section-content
					span
						img.ui-section-icon.ui-align-center(src="img/icon-recetas.png")
					h1.ui-title-big.ui-title-ornament.ui-text-gold Recetas
					
				
	section#recetas-leyend.wk-section.wk-wrap-1100.ui-bg-red.wk-text-center.ui-block-texture-invert
		.wk-section-wrap
			.ui-row-padding 
				h2.ui-subtitle 
					p
						strong.ui-text-gold Lorem ipsum dolor sit amet, consectetur adipiscing 
						span Donec vel ipsum eu enim faucibus semper sed non leo. Maecenas vehicula, nisi ut ullamcorper molestie.
					
	section#recetas.ui-block-texture-cover.wk-wrap-1100.wk-margin-y-40
		.wk-section-wrap
			.wk-cols
				.wk-col
					a.ui-post-excerpt(href="#")
						img.ui-post-thumb(src="img/receta-como-preparar.chocolate-abuelita-nestle.jpg" alt="Cómo preparar Chocolate Abuelita - Nestle")
						.ui-post-excerpt-content
							h1.ui-post-title.ui-title-small Cómo preparar chocolate Abuelita&reg;
							.ui-post-read-more Ver receta
						
				.wk-col
					a.ui-post-excerpt(href="#")
						img.ui-post-thumb(src="img/receta-como-preparar-una-taza-nestle.jpg" alt="Cómo preparar una taza de Chocolate Abuelita - Nestle")
						.ui-post-excerpt-content
							.ui-post-title.ui-title-small Cómo preparar una taza de Chocolate Abuelita Granulado
							.ui-post-read-more Ver receta
				
			.wk-cols
				.wk-col
				
					a.ui-post-excerpt(href="#")
						img.ui-post-thumb(src="img/receta-como-preparar-pan-nestle.jpg" alt="Cómo preparar pan con Chocolate Abuelita - Nestle ")
						.ui-post-excerpt-content
							.ui-post-title.ui-title-small Cómo hacer Pan de Muerto con Chocolate Abuelita
							.ui-post-read-more Ver receta
				
				.wk-col
					a.ui-post-excerpt(href="#")
						img.ui-post-thumb(src="img/receta-como-preparar-mole-nestle.jpg" alt="Cómo preparar mole con Chocolate Abuelita - Nestle")
						.ui-post-excerpt-content
							.ui-post-title.ui-title-small Cómo hacer mole poblano con Chocolare Abuelita
							.ui-post-read-more Ver receta
						
include footer.jade
