.fancybox-bg {
    background-color: #ffb500;
    background-image: url(../img/bg-textura.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    opacity: 1 !important;
}
